<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="../../../../assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
    <button class="botao-editar" (click)="editar()">
        <img src="../../../../assets/imagens/icone-editar.png" alt="icone-editar">
    </button>
    <button class="botao-exluir" (click)="excluir()">
        <img src="../../../../assets/imagens/icone-excluir.png" alt="icone-excluir">
    </button>
</div>